/* You can add global styles to this file, and also import other style files */

.summonerIcon {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

html,body {
    min-height: 100vh;
    max-height: 100vh;
    color: black;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-image: linear-gradient(rgb(107, 185, 209),white);
    background-repeat: repeat;
}

:host {
    display: block;
    height: 100vh;
  }
